*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    outline: none;
    background-color: #254336;

}
header{
    display: grid;
    position: fixed;
    width: 100vw;
    gap: 10px;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;

}
.home{
    width: 100vw;
    height: 100vh;
    background: url(../media/photos/travel1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
   
    align-items: center;
    justify-content: flex-start;
}